body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: rgb(8, 7, 7);
}
#main{
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background-color: #eee;
}
main{
    display: block;
}
img{
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}
#img-caption{
    margin: 15px 0 5pc 0;
}
figcaption{
    display: block;
}
#sustiutlo{
    margin: 50px 0;
    text-align: center;
}
::marker{
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}
#tribute-info{
display: block;
margin: 0px;

}
